@font-face {
    font-family: "SuperRetro";
    src: url("font/super_retro_m54-webfont.woff") format("woff"),
    url("font/super_retro_m54-webfont.woff2") format("woff")
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.nav-link {
    padding: 10px;
    font-size: 20px;
    border: 5px solid transparent;
    box-sizing: border-box;
    font-family: "SuperRetro";
}

#nav-first:hover {
    color: blue;
    border-bottom: solid 5px blue;
}

#nav-second:hover {
    color: red;
    border-bottom: solid 5px red;
}

#nav-third:hover {
    color: rgb(255, 228, 0);
    border-bottom: solid 5px rgb(255, 228, 0);
}

.scrolled {
    background-color: blue;
    transition: background-color 200ms linear;
  }

.wrapper {
    margin-top: 70px;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "SuperRetro";
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.fa-facebook:hover {
    color: blue;
}

.fa-twitter-square:hover {
    color: blue;
}

.fa-instagram:hover {
    color: red;
}

.fa-linkedin:hover {
    color: red;
}

.fa-github:hover {
    color: rgb(255, 228, 0);
}

.fa-behance:hover {
    color: rgb(255, 228, 0);
}



.card {
    border-radius: 0;
}

.card-title {
    text-align: justify;
}

.card-img-top {
    border-radius: 0;
}

.card-body {
    padding: 15px;
    padding-bottom: 0;
}

.btn-open {
    background-color: blue;
    color: white;
    width: 100%;
    border-radius: 0;
}

.btn-document {
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 0;
}

.btn-behance {
    background-color: rgb(255, 228, 0);
    color: white;
    width: 100%;
    border-radius: 0;
}

.btn-cv {
    background-color: transparent;
    border: solid 5px #000;
    font-family: "SuperRetro";
    color: black;
    border-radius: 0;
    transition: none;
}

.btn-cv:hover {
    color: white;
    background-color: blue;
    border: solid 5px blue;
    /* -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; */
}